<% @confessions.each do |confession| %>
	<div class="confession">
		<dl>
		  <dt>Title:</dt>
		  <dd><%= confession.title %></dd>
		  <dt>Content:</dt>
		  <dd><%= confession.content %></dd>
		  <dt>Username:</dt>
		  <dd><%= link_to confession.user.username, root_path(user_id: confession.user.id) %></dd>
		  <%= link_to 'Show', confession_path(confession) %>

		</dl>
    </div>
<% end %>


