<% @confessions.each do |confession| %>

<div class="table">

	<dl>
		<strong>
		<dt>
			Title:
		</dt>
		<dd>
			<%= confession.title %>
		</dd>
		<dt>
			Content:
		</dt>
		<dd>
			<%= confession.content %>
		</dd>
		<dt>
			Username:  <%= link_to confession.user.username, root_path(user_id: confession.user.id) %>
		</dt>
		<p>
			<%= link_to 'Show', confession_path(confession) %>
		</p> </strong>
	</dl>
</div>

<% end %>