body.controller--confessions.action--index {
  background-image: url("http://img1.findthebest.com/sites/default/files/2307/media/images/Light_Gray_429810_i0.png");
  
  .confession {
    background-color: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
  }
}

body.controller--confessions.action--new,
body.controller--confessions.action--edit,
body.controller--confessions.action--create,
body.controller--confessions.action--update {
background-image: url("http://hdw.datawallpaper.com/architecture/golden-gate-bridge-from-a-wharf-hdr-wide-wallpaper-500732.jpg");
    .confessionform{
       margin-top: 180px; 
    }
    .form-group{
      font-size: 20px;
      color: blue;
    }
}
body.controller--confessions.action--show {
  background-image: url("http://hdw.datawallpaper.com/architecture/golden-gate-bridge-from-a-wharf-hdr-wide-wallpaper-500732.jpg");
    .confessionform{
       margin-top: 180px; 
    }
    .form-group{
      font-size: 20px;
      color: blue;
    }
      .confession {
    background-color: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
  }
}
