body.controller--users.action--new, 
body.controller--users.action--create, 
body.controller--sessions.action--create {
    
      background-image: url("http://i1.wp.com/anarschi.com/dosyalar/at-the-beach-hd-wallpaper-1440x900.jpeg");
  .all {
    margin-left: 74%;
    margin-right:180%; 
  }
  
  .log {
    margin-left: 74%;
    margin-right:180%; 
  }
  
  #error_explanation{
   height: 100px;  
  }
}